{% extends 'base.html' %}

{% block content %}
    <!--Validate the password reset link before proceeding-->
    {% if validlink %}
        <p>Please enter your new password:</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        {# Password error text #}
                        {{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label>
                        {# Field for password #}
                        {{ form.new_password1 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {# Password confirmation error text #}
                        {{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                        {# Field for password confirmation #}
                        {{ form.new_password2 }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Change password">
                    </td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>Password reset link was invalid -- have you already used the link? Please request a new link</p>
    {% endif %}
{% endblock %}