{% extends 'base.html' %}

{% block content %}
    <h1>{{ author }}</h1>

    <p>
        {{ author.dob }} -
        {% if author.dod != None %}
            {{ author.dod }}
        {% endif %}
    </p>

    {% if perms.catalog.can_edit_authors %}
        <a class="btn btn-secondary" href="{% url 'authors-update' author.id %}">Edit</a>
        <a class="btn btn-secondary" href="{% url 'authors-delete' author.id %}">Delete</a>
    {% endif %}

    <div style="margin-left: 20px; margin-top: 20px">
        {% for book in author.book_set.all %}
            <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
            <p><strong>Summary:</strong> {{ book.summary }}</p>
        {% endfor %}
    </div>
{% endblock %}